body{
    font-family: 'Inter', sans-serif !important;
}

.navbar-nav {
  margin-left: auto;

}

.nav-link {
  color: black;
  font-size: 1rem;
}

.container-fluid {
  line-height: 0.5;
  height: 2.5rem;
}


.navbar-nav {
  margin-right: 9rem;
  padding: 0rem 2rem;
}

.nav-link:hover {
  color: #fc2779;
}
.colored-section{
  height: 30%;
}

.brand:hover {
  color: #fc2779;
}

.brand {
  color: black;
  margin-left: 10rem;
  font-weight: 500;
  padding-bottom: 13px;
padding-top: 0px;
}

.brand {
  font-size: 1rem;
}

.nav-container {
  color: #03021a;
  margin: 1rem;
  font-weight: 600;
  line-height: 4;
}

.nav-container:hover {
  color: #fc2779;
  text-decoration: none;
}

.contain {
  margin-bottom: 0rem;
margin-left: 11rem;
position: relative;
bottom: 1.4rem;
height: 3.6rem;
}

.search {
  margin-left: 4rem;
  border: 1px solid rgba(151, 151, 151, 0.1);
  padding: 0.7% 2.5%;
  background-color: rgba(151, 151, 151, 0.1);
}

.AccountText {
  font-weight: 500;
  padding-left: 1rem;
}

.bag {
  padding-top: 3px;
  margin-left: 2rem;
}

.companyname {
  font-family: 'Kaushan Script', cursive;
  font-style: italic;
  font-size: 1.5rem;
  color: #fc2779;
  font-weight: bold;
  text-decoration: none;
  padding-left: 1rem;
}

.companyname:hover {
  color: #fc2779;
  text-decoration: none;
}

#title {
  background-color: #ff98c0;
  ``
}

.pre-title {
  color: grey;
  margin: 10px;
}

.pre-title:hover {
  color: #fc2779;
  text-decoration: none;
}

.pre-section {
  padding-left: 12rem;
  padding-bottom: 0.8rem;
  box-shadow: inset rgb(0 0 0 / 17%) 1px -2px 0px 0px
}

.container-nav {
  line-height: 0.8;
}

.line {
  margin-top: -1rem;
  margin-bottom: 0.5rem;
  color: white;
}

.offers {
  margin-left: 6rem;
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRE-KsMThtVt1n0BrLkLObus64HrRhqOEbXpg&usqp=CAU);
  color: black;
}

.AccountText {
  color: #000000;
  font-weight: normal;
}

.img {
  padding-bottom: 20px;
  padding-top: 30px;
  text-align: center;
  background-color: rgb(238 238 238)
}

.img5 {
  padding-bottom: 20px;
  padding-top: 50px;
  text-align: center;
  background-color: rgb(238 238 238);
  display: inline-flex;
}

.img1 {
  width: 79%;
}

.img2 {
  width: 79%;
margin-top: 50px;
}

.twoimg {
  text-align: center;
  background-color: rgb(238 238 238);
  padding-bottom: 1rem;
}

.heading {
  font-size: 24px;
  font-weight: normal;
  color: #3f414d;
}

.img3 {
  margin: 0rem 0.7rem;
  width: 38.8%;
  box-shadow: rgb(0 0 0 / 10%) 2px 3px 3px 0px;
}

.img4 {
  margin: 0rem 0.7rem;
  width: 38.8%;
  box-shadow: rgb(0 0 0 / 10%) 2px 3px 3px 0px;
}

.img-1 {
  padding-bottom: 0.7rem;
  padding-top: 0.7rem;
  text-align: center;
  background-color: rgb(238 238 238);
}

.img-2 {
  text-align: center;
  background-color: rgb(238 238 238);
  padding-top: 1rem;
  padding-bottom: 4px;
}

.card-title {
  color: #fc2779;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 1px;
}

.card {
  box-shadow: rgb(0 0 0 / 10%) 2px 3px 3px 0px;
}

.card-deck {
  width: 91.9%;
  padding-left: 9.9rem;
}

.card-body {
  line-height: 10px;
  height: 70px;
}

.card-img11 {
  width: 36.6rem;
  height: 19rem;
  margin-right: 1rem;
  box-shadow: rgb(0 0 0 / 10%) 2px 3px 3px 0px
}

.card-img1 {
  box-shadow: rgb(0 0 0 / 10%) 2px 3px 3px 0px
}

.card-img12 {
  width: 36.6rem;
  height: 19rem;
  margin-left: 6rem;
  box-shadow: rgb(0 0 0 / 10%) 2px 3px 3px 0px;
}

.card1 {
  margin: 15px;
  padding-bottom: 2rem;
  width: 40%;
  height: 305px;
}

.p1 {
  color: #3f414d;
}

.card-body1 {
  border-radius: 20px;
  line-height: 1px;
}

.card-title1 {
  color: #fc2779;
  font-size: 16px;
  font-weight: normal;
  padding-top: 7px;
}

.card2 {
  width: 40% text-align:center;
}

.border2 {
  width: 37%;
  margin-left: 30rem;
  position: relative;
  bottom: 5.2rem;
  margin-bottom: 3px;
  border-radius: 5px;
  padding-bottom: 2rem;
  background-color: rgb(234 234 234 / 89%);
}

.border11 {
  position: relative;
  bottom: 3rem;
  margin-bottom: 3px;
  border-radius: 5px;
  padding-bottom: 2rem;
  background-color: rgb(234 234 234 / 89%);
  position: relative;
  left: 0.8rem;
  bottom: 5.2rem;
  width: 35rem;
}

.border12 {
  position: relative;
  bottom: 3rem;
  margin-bottom: 3px;
  border-radius: 5px;
  padding-bottom: 2rem;
  background-color: rgb(234 234 234 / 89%);
  position: relative;
  left: 6.8rem;
  bottom: 5.2rem;
  width: 35rem;
}

.carousel {
  padding-top: 4px;
  background-color: rgb(238 238 238);
}

.svg1 {
  position: relative;
  top: 6px;
  left: 4px;
}

.svg2 {
  position: relative;
  top: 5px;
}

.lipimg {
  position: relative;
  bottom: 3rem;
}

.heading1 {
  position: relative;
  bottom: 4rem;
  font-size: 27px;
  font-weight: normal;
  color: #3f414d;
}

.imgsingle {
  background-color: rgb(238 238 238);
  position: relative;
  bottom: 3.7rem;
}

.card4 {
  height: 40px;
}

.card11 {
  height: 3rem;
}

.img-11 {
  background-color: rgb(238 238 238);
}

#footer-id {
  background-color: #3f414d;
  color: white;
  text-align: center;
  padding: 2rem 16rem 0rem;
}

.input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  background-color: #3f414d;
  l color: white;
  width: 55%;
  height: 2rem;
}

.submit-button {
  background-color: #3f414d;
  border: 1px solid rgb(255, 255, 255);
  padding: 9px 14px;
  border-radius: 2px;
  margin-bottom: 2rem;
  color: white;
  font-weight: 600px
}

.playstore {
  padding-right: 0.6rem;
}

.bottom2 {
  text-size-adjust: 100%;
  font-family: Inter, Roboto, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  margin: 0px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  padding-top: 1px;
  padding-bottom: 35px;
  position: static;
  left: 19rem;
}


.css-fd2g8d {
  padding-left: 5rem;
}

.css-x4l36m {
  margin-top: 2.8rem;
}

.insta {
  position: relative;
  right: 4rem;
  top: 4rem;
}

.row2 {
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.css-lmt24f {
  padding-right: 2rem;
  font-size: 14px;
  font-weight: 440;
  width: 110%;
  text-align: center;
}

.css-n51als {
  margin-top: 1rem;
  color: #3f3f51;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  width: 80%;
}

.css-z7ry7e {
  border-bottom: 1px solid #e1e1e1;
  font-size: 14px;
  font-weight: 500;
  line-height: 2rem;
}

.bottomimg {
  margin: 2px 0.4rem;
}

.col {
  text-align: left;
  padding: 2px 0px;
}

.footer1 {
  line-height: 1rem;
}

.app1{
  font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: -0.1px;
}
.app2{
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.8px;
}
.app3{
  font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      width: 80%
}
.width {
  width: 125%;
  padding-left: 2rem;
  padding-right: 2rem;
}
.end{
  text-align: center;
background-color: #fc2779;
color: white;
margin-bottom: 3rem;
}
.row3{
  text-align: center;
padding-top: 1rem;
  width: 88%;
font-size: 13px;
font-weight: 500;
padding-bottom: 1rem;
padding-left:29rem;

}
.tdiv{
  padding-right: 4rem;
  padding-bottom: 1rem;
  font-size: 13px;
    font-weight: 400;
}
.col-2{
  padding: 0px 0px;
}
.big{
  background-color: #8c8d94;
padding: 2rem 3rem 1rem;
  color: #FFFFFF;
}
li:hover{
  color: #fc2779;
}
li{
  padding-bottom: 13px;
  font-size: 12px;
font-weight: 400;
line-height: 16px;
}
ol,ul{
  list-style: none;
}
.first{
  margin-left: 9rem;
}
.box1{
  padding-right: 4rem;
}
  .box4{
padding-left: 4rem;
  }
.box1 svg{
  height: 37px;
    width: 72px;
    margin-bottom: 9px;
}
header{
  margin-bottom: 20px;
font-size: 14px;
font-weight: 500;
line-height: 20px;
padding-top: 2rem;
}
.card-img12{
  border-radius: 3px;
}
.card-img1{
  border-radius: 3px;
}
.img3{
  border-radius: 3px;
}
.img4{
  border-radius: 3px;
}
.im{
  border-radius: 4px;
}

  .imgsingle img{
      border-radius: 3px;
}
.card-img11{
  border-radius: 3px;
}
.img1{
  border-radius: 3px;
}
.img2{
  border-radius: 3px;
}
.img3{
  border-radius: 3px;
}
.img4{
  border-radius: 3px;
}
.img1:hover{
box-shadow: rgb(0 0 0 / 10%) 0px 0px 5px 5px;
}
.img2:hover{
box-shadow: rgb(0 0 0 / 10%) 0px 0px 5px 5px;
}
.img3:hover{
box-shadow: rgb(0 0 0 / 10%) 0px 0px 5px 5px;
}
.img4:hover{
box-shadow: rgb(0 0 0 / 10%) 0px 0px 5px 5px;
}
.card-img11:hover{
box-shadow: rgb(0 0 0 / 10%) 0px 0px 5px 5px;
}
.card-img12:hover{
box-shadow: rgb(0 0 0 / 10%) 0px 0px 5px 5px;
}
.card-img1:hover{
box-shadow: rgb(0 0 0 / 10%) 0px 0px 5px 5px;
}
.card:hover{
box-shadow: rgb(0 0 0 / 10%) 0px 0px 5px 5px;
}
.single:hover{
box-shadow: rgb(0 0 0 / 10%) 0px 0px 5px 5px;
}
.im:hover{
box-shadow: rgb(0 0 0 / 10%) 0px 0px 5px 5px;

}
.w-100:hover {
box-shadow: rgb(0 0 0 / 10%) 0px 0px 5px 5px;
}
.card-img-top{
  border-radius: 3px;
}
.card-img-top:hover{
box-shadow: rgb(0 0 0 / 10%) 0px 0px 5px 5px;
}
